//- footer.footer.background-animate(data-aos="fade-up" data-aos-delay="500")
//-   .background-clr 
footer.footer
  div(data-aos="fade-up" data-aos-delay="500")
    .container
      ul.row.t-footer-lists
        li.col-6.col-lg-2
          ul
            li
              h5.t-f-title.my-4 Quick links
            li
              a.t-f-link(href="shippers.html" target="_blank" rel="noopener noreferrer") Shippers
            li
              a.t-f-link(href="transporters.html" target="_blank" rel="noopener noreferrer") Transporters
            li
              a.t-f-link(href="brokers.html" target="_blank" rel="noopener noreferrer") Brokers
            li
              a.t-f-link(href="truck-drivers.html" target="_blank" rel="noopener noreferrer") Truck drivers
            li
              a.t-f-link(href="truck.html" target="_blank" rel="noopener noreferrer") Truck
            li
              a.t-f-link(href="industries.html" target="_blank" rel="noopener noreferrer") Industries
        li.col-6.col-lg-2
          ul
            li
              h5.t-f-title.my-4 Explore
            li
              a.t-f-link(href="our-story.html" target="_blank" rel="noopener noreferrer") Our story
            li
              a.t-f-link(href="media.html" target="_blank" rel="noopener noreferrer") Media
            li
              a.t-f-link(href="mews.html" target="_blank" rel="noopener noreferrer") News
            li
              a.t-f-link(href="blogs.html" target="_blank" rel="noopener noreferrer") Blogs
            li
              a.t-f-link(href="contact-us.html" target="_blank" rel="noopener noreferrer") Contact us
            li
              a.t-f-link(href="location.html" target="_blank" rel="noopener noreferrer") Location
        li.col-6.col-lg-4
          ul
            li
              h5.t-f-title.my-4 Help & support
            li
              a.t-f-link(href="faq.html" target="_blank" rel="noopener noreferrer") FAQ
            li
              a.t-f-link(href="support.html" target="_blank" rel="noopener noreferrer") Support
            li
              a.t-f-link(href="policies.html" target="_blank" rel="noopener noreferrer") Policies
        li.col-12.col-md-8.col-lg-4
          h2.t-f-heading Join us, we collobrate with ambitious brands and people
          a.btn.footer-btn Sign up and grow
      div
        <hr style="border-color: rgba(255, 255, 255, 0.2);">
    .container
      ul.row.t-footer-sub-list.align-items-lg-start.py-3
        li.col-12.col-lg-7.d-flex.flex-wrap
          p.col-12.col-lg-5.pl-0.mb-3 The Curve Building, Office- M15, Sheikh Zayed Road, Dubai, UAE
          ul.col-12.col-lg-6.t-contact-data.pl-0.mb-3
            li.mr-4.mb-1
              a(href="tel:966552004352") +966 55 300 4352
            li.mr-4.mb-1
              a(href="tel:966501169040") +966 50 116 9040 
            li.mr-4.mb-1
              a(href="mailto:contact@trukkin.com") contact@trukkin.com 
        li.col-12.col-lg-3
          ul.d-flex.footer-social-list
            li.mr-4.mb-1
              a(href="https://www.facebook.com/trukkin/" target="_blank" rel="noopener noreferrer")
                img(src="./assets/icons/fb.svg" alt="")
            li.mr-4.mb-1
              a(href="https://www.linkedin.com/company/trukkin/" target="_blank" rel="noopener noreferrer")
                img(src="./assets/icons/in.svg" alt="")
            li.mr-4.mb-1
              a(href="https://twitter.com/TrukkinHQ" target="_blank" rel="noopener noreferrer")
                img(src="./assets/icons/tw.svg" alt="")
        li.col-12.col-lg-2.text-lg-right
          ul.play-store-lists
            li.my-4
              a(href="https://apps.apple.com/us/app/trukkin/id1227697871")
                  img(src="./assets/icons/appStore.png" alt="")
            li.my-4
              a(href="https://play.google.com/store/apps/developer?id=Trukkin&hl=en_IN")
                  img(src="./assets/icons/googleStore.png" alt="")

        .col-12
          p.footer-text © 2020 Trukkin. All Rights Reserved