doctype html
html.home-page(lang="en" dir="ltr")
  include ./base/head.pug
  +head('Resourcepro - Home')
  
  body
    // LOADER
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    main.main-all-pages
      
