.txt-primary {
  color: $primary-color;
}

.txt-black {
  color: $primary-black;
}

.txt-white {
  color: $w;
}

.txt-grey {
  color: $txt-grey;
}

.bg-primary {
  background: $primary-color;
}

.bg-grey008 {
  background: $grey08;
}

.bg-grey08 {
  background         : $grey08;
  position           : absolute;
  bottom             : 0;
  left               : 0;
  right              : 0;
  // min-height: 536px;
  height             : 100%;
  width              : 100%;
  // background-color: $blue;
  // z-index: 10;
}

.bg-white {
  background: $w;
}

.bg-blue {
  background: $blue;
}

.bg-blue-pattern {
  position: relative;

  &::before {
    content   : "";
    position  : absolute;
    bottom    : -10px;
    left      : 0;
    right     : 0;
    width     : 100%;
    background: $blue;
    height    : 100vh;
  }

  &.gradient {
    &::before {
      background-image: linear-gradient($blue 80%, $w 40%);

      @media(min-width: 1280px) {
        background-image: linear-gradient($blue 60%, $w 40%);
      }
    }
  }
}