/*
Color Codes
*/
// $primary-color: #07a7f7;
$primary-color: #4478bc;
$primary-black: #172953;

$txt-grey: #686e78;

/*
  Media Query Breakpoints
*/
$xs: 320px;
$sm: 567px;
$smd: 667px;
$tab: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$hd: 1900px;
$desktop-1024: 1024px;
$desktop-1366: 1366px;

$w: #ffffff;
$w08: rgba(255, 255, 255, 0.8);
$b: #000000;
$b24: #242424;
$b0d: #0d0d0d;
$b08: rgba(0, 0, 0, 0.8);
$b46: #464646;
$link: #0968c9;
$blue: #051843;
$blue08: #23345a;
$orangeLight: #f4811f;

$grey08: rgba(242, 242, 242, 0.8);

/*
 Media Query Breakpoints end
*/

//Font variables
$fnt-montserrat: "Montserrat", sans-serif;
$fnt-roboto: "Roboto", sans-serif;
